<h1>Check if the operator `?` is working properly</h1>

<p>
    See <a href="http://twig.sensiolabs.org/doc/templates.html#other-operators">
        http://twig.sensiolabs.org/doc/templates.html#other-operators
    </a>
</p>

<section>
    <ul>
        <li>{{ true ? 'true' : 'false' }}</li>
        <li>{{ false ? 'true' : 'false' }}</li>
    </ul>
</section>
