<h1>Check if the filter `nl2br` is working properly</h1>

<p>
    See <a href="http://twig.sensiolabs.org/doc/filters/nl2br.html">
        http://twig.sensiolabs.org/doc/filters/nl2br.html
    </a>
</p>

<section>
    <p>
        {{ "Hello\nWorld"|nl2br }}
    </p>
</section>