<h1>Check if the operator `power` is working properly</h1>

<p>
    See <a href="http://twig.sensiolabs.org/doc/templates.html#math">
        http://twig.sensiolabs.org/doc/templates.html#math
    </a>
</p>

<section>
    <ul>
        <li>{{ 4 ** 4 }}</li>
        <li>{{ 4 ** 1.5 }}</li>
        <li>{{ 1.5 ** 4 }}</li>
    </ul>
</section>

<section>
    <ul>
        <li>{{ 4 ** true }}</li>
        <li>{{ true ** 4 }}</li>
        <li>{{ false ** 4 }}</li>
        <li>{{ 'a' ** 4 }}</li>
        <li>{{ null ** 4 }}</li>
    </ul>
</section>