{% if not_visible is defined %}
    <p>The variable not_visible is defined.</p>
{% else %}
    <p>The variable not_visible is not defined.</p>
{% endif %}

{% if visible is defined %}
    <p>The variable visible is defined.</p>
{% else %}
    <p>The variable visible is not defined.</p>
{% endif %}