<h1>Check if the test `defined` is working properly</h1>

<p>
    See <a href="http://twig.sensiolabs.org/doc/tests/defined.html">
        http://twig.sensiolabs.org/doc/tests/defined.html
    </a>
</p>

<section>
    <p>{{ is_defined is defined }}</p>
    <p>{{ is_not_defined is defined }}</p>
</section>