<h1>Check if the test `devisible by` is working properly</h1>

<p>
    See <a href="http://twig.sensiolabs.org/doc/tests/divisibleby.html">
        http://twig.sensiolabs.org/doc/tests/divisibleby.html
    </a>
</p>

<section>
    <p>{{ 1 is divisible by(3) ? 'yes' : 'no' }}</p>
    <p>{{ 2 is divisible by(3) ? 'yes' : 'no' }}</p>
    <p>{{ 3 is divisible by(3) ? 'yes' : 'no' }}</p>
    <p>{{ 4 is divisible by(3) ? 'yes' : 'no' }}</p>
</section>