<h1>Check if the test `odd` is working properly</h1>

<p>
    See <a href="http://twig.sensiolabs.org/doc/tests/odd.html">
        http://twig.sensiolabs.org/doc/tests/odd.html
    </a>
</p>

<section>
    <p>{{ 7 is odd }}</p>
    <p>{{ 4 is odd }}</p>
</section>